@-webkit-keyframes appearEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes drawLine {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 470px;
    opacity: 1;
  }
}

@keyframes drawLine {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 470px;
    opacity: 1;
  }
}

@-webkit-keyframes drawLineMobile {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}

@keyframes drawLineMobile {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
