@import './general_styles';
@import './keyframes';

.ba-main {
  width: 1024px;
  margin: 0 auto;

  //styles for section header
  .header {
    display: flex;
    height: 550px;
    background-color: $header-bg-color;
    .flex-item.text {
      flex: 1;
      position: relative;
      h1 {
        position: absolute;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 90px;
        line-height: 0.9;
        left: 72px;
        bottom: 120px;
        color: $white;
        animation: appearEffect 2s;
        animation-timing-function: ease-in;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
        z-index: 1;
        span {
          color: $theme-yellow;
          font-size: 120px;
        }
      }
      .purple-line {
        background-color: $theme-purple;
        position: absolute;
        height: 12px;
        width: 470px;
        bottom: 72px;
        animation: 2s drawLine;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
        z-index: 1;
      }
    }
    .flex-item.images-container {
      flex: 1.4;
      animation: 1.5s appearEffect;

      .images {
        background-position: center;
        background-size: cover;
        height: 100%;
        &.image1 {
          background-image: $theme-dark-gradient, url('../images/img1.jpg');
        }
        &.image2 {
          background-image: $theme-dark-gradient, url('../images/img2.jpg');
        }
        &.image3 {
          background-image: $theme-dark-gradient, url('../images/img3.jpg');
        }
        &.image4 {
          background-image: $theme-dark-gradient, url('../images/img4.jpg');
        }
      }
      .fade-in {
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-name: fadeIn;
        animation-duration: 2s;
      }
    }
  }

  //styles for section our-projects
  .our-projects {
    .flex-item.heading-our-projects {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      background-color: $white;
      h2 {
        font-size: 42px;
        font-weight: bold;
      }
    }
    .flex-item.gallery {
      display: flex;
      flex-wrap: wrap;
      .bg-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: 50%;
        height: 350px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        color: #fff;
        padding: 36px;
        &.project1 {
          background-image: $theme-dark-gradient, url('../images/img1.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img1.jpg');
          }
        }
        &.project2 {
          background-image: $theme-dark-gradient, url('../images/img2.jpg');
          &:hover {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.1),
                rgba(0, 0, 0, 0.3)
              ),
              linear-gradient($theme-purple-hover, $theme-purple-hover),
              url('../images/img2.jpg');
          }
        }
        &.project3 {
          background-image: $theme-dark-gradient, url('../images/img3.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img3.jpg');
          }
        }
        &.project4 {
          background-image: $theme-dark-gradient, url('../images/img4.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img4.jpg');
          }
        }
        &.project5 {
          background-image: $theme-dark-gradient, url('../images/img1.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img1.jpg');
          }
        }
        &.project6 {
          background-image: $theme-dark-gradient, url('../images/img2.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img2.jpg');
          }
        }
        &.project7 {
          background-image: $theme-dark-gradient, url('../images/img3.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img3.jpg');
          }
        }
        &.project8 {
          background-image: $theme-dark-gradient, url('../images/img4.jpg');
          &:hover {
            background-image: linear-gradient(
                $theme-purple-hover,
                $theme-purple-hover
              ),
              url('../images/img4.jpg');
          }
        }
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          position: absolute;
          opacity: 0;
          transition: opacity 0.4s;
        }
        &:hover p {
          position: static;
          opacity: 1;
          transition: all 1s;
        }
        &:hover {
          justify-content: space-evenly;
        }
      }
    }
  }

  //styles for section about-us
  .about-us {
    display: flex;
    background-color: $white;
    .flex-item {
      padding: 96px;
    }
    .flex-item.heading-about-us {
      width: 400px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      position: relative;
      padding-left: 136px;
      padding-right: 24px;
      & h2 {
        font-size: 48px;
        font-weight: bold;
      }
      & .purple-line {
        background-color: $theme-purple;
        position: absolute;
        height: 8px;
        width: 350px;
        top: 226px;
        left: 0;
      }
    }
    .flex-item.content-about-us {
      flex: 2;
      padding-left: 48px;
      p {
        letter-spacing: 1px;
        line-height: 1.5;
        &:last-child {
          margin-top: 24px;
        }
      }
    }
  }

  //styles for section our-services
  .our-services {
    display: flex;
    background-color: $white;
    padding-bottom: 96px;
    .flex-item {
      padding: 96px;

      &.heading-our-services {
        width: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        position: relative;
        background-image: linear-gradient(
          to right,
          $theme-purple,
          $theme-purple-lighter
        );
        padding-left: 136px;
        padding-right: 24px;
        & h2 {
          font-size: 48px;
          font-weight: bold;
          color: white;
        }
      }
      &.list-our-services {
        flex: 2;
        padding: 0 0 0 48px;
        line-height: 2.9;
        & ul {
          display: none;
        }
        & ul > li {
          border-bottom: 0.1px solid #ddd;
          &:nth-child(1) {
            animation: 1s appearEffect;
            animation-fill-mode: backwards;
          }
          &:nth-child(2) {
            animation: 1s appearEffect;
            animation-delay: 0.1s;
            animation-fill-mode: backwards;
          }
          &:nth-child(3) {
            animation: 1s appearEffect;
            animation-delay: 0.2s;
            animation-fill-mode: backwards;
          }
          &:nth-child(4) {
            animation: 1s appearEffect;
            animation-delay: 0.3s;
            animation-fill-mode: backwards;
          }
          &:nth-child(5) {
            animation: 1s appearEffect;
            animation-delay: 0.4s;
            animation-fill-mode: backwards;
          }
          &:nth-child(6) {
            animation: 1s appearEffect;
            animation-delay: 0.5s;
            animation-fill-mode: backwards;
          }
          &:nth-child(7) {
            animation: 1s appearEffect;
            animation-delay: 0.6s;
            animation-fill-mode: backwards;
          }
          & span {
            color: #ddd;
            font-size: 16px;
            margin-right: 12px;
          }
        }
      }
    }
  }

  //styles for section know-us
  .know-us {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(
        $theme-purple-hover-lighter,
        $theme-purple-hover-lighter
      ),
      url('../images/img2.jpg');
    background: -o-linear-gradient(
        $theme-purple-hover-lighter,
        $theme-purple-hover-lighter
      ),
      url('../images/img2.jpg');
    background: linear-gradient(
        $theme-purple-hover-lighter,
        $theme-purple-hover-lighter
      ),
      url('../images/img2.jpg');

    background-size: cover;
    background-position: center;
    div {
      text-align: center;
      h2 {
        margin: 24px 0;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 90px;
        color: $theme-yellow;
      }
    }
  }

  //styles for section contact-form
  .contact-form {
    display: flex;
    background-image: linear-gradient(
      to right,
      $theme-purple,
      $theme-purple-lighter
    );
    padding: 96px 0;
    .flex-item {
      padding: 96px;

      &.heading-contact-form {
        width: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        position: relative;
        background-image: linear-gradient(
          to right,
          $theme-purple,
          $theme-purple-lighter
        );
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
        padding-left: 136px;
        padding-right: 24px;
        & h2 {
          font-size: 28px;
          font-weight: bold;
          color: white;
          font-weight: lighter;
          & span {
            color: $theme-yellow;
            font-weight: bold;
            font-size: 36px;
          }
        }
      }
      &.form {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 48px;
        line-height: 2.9;
        padding-left: 96px;
        & ul > li {
          position: relative;
          color: rgba(221, 221, 221, 0.5);
          border-bottom: 1px solid rgba(221, 221, 221, 0.5);
          &.cta {
            margin-top: 30px;
            span {
              background-color: $theme-yellow;
              padding: 6px 30px;
              color: #000;
            }
          }
          &:hover {
            cursor: pointer;
          }
          &:last-child {
            border-bottom: none;
          }
          & span {
            color: rgba(221, 221, 221, 0.3);
            font-size: 18px;
            margin-right: 12px;
            font-weight: bold;
          }
          & label {
            position: absolute;
            left: 39px;
            transition: 0.5s all;
            cursor: pointer;
          }
          & input {
            width: 80%;
            position: relative;
            bottom: -6px;
            background: inherit;
            height: 30px;
            font-size: 20px;
            color: $theme-yellow;
            border: none;
            &:focus {
              outline: none;
              background-color: transparent;
            }
            &:focus ~ label {
              transform: translateY(-8px);
              font-size: 10px;
            }
            &:valid ~ label {
              transform: translateY(-8px);
              font-size: 10px;
            }
          }
        }
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover {
      border: none;
      -webkit-text-fill-color: $theme-yellow;
      -webkit-box-shadow: 0 0 0px 1000px $theme-purple-lighter inset;
    }
  }
}

//media queries

@media screen and (max-width: 1024px) {
  .ba-main {
    width: 100%;
    .header {
      align-items: center;
      height: auto;
      padding: 48px 0;
      .flex-item.images-container {
        display: none;
      }
      .flex-item.text {
        h1 {
          margin-left: 24px;
          position: static;
        }
        .purple-line {
          position: static;
          margin-top: 12px;
          width: 90%;
          animation: 2s drawLineMobile;
        }
      }
    }
    .our-projects {
      .flex-item.gallery {
        .bg-item {
          width: 100%;
        }
      }
    }
    .about-us {
      display: block;
      .flex-item.content-about-us {
        padding: 0 36px 96px;
      }
    }
    .our-services {
      display: block;
      .flex-item.list-our-services {
        padding: 36px;
      }
    }
    .contact-form {
      display: block;
      .flex-item.form {
        padding: 36px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ba-main {
    .header {
      .flex-item.text {
        h1 {
          font-size: 48px;
          span {
            font-size: 66px;
          }
        }
      }
    }
    .our-projects {
      .flex-item.gallery {
        .bg-item {
          padding: 18px;
        }
      }
    }
    .about-us {
      .flex-item.content-about-us {
        padding: 0 36px 48px;
      }
      .flex-item.heading-about-us {
        width: 100%;
        padding: 96px;
        & .purple-line {
          width: 90%;
        }
      }
    }
    .our-services {
      .flex-item.heading-our-services {
        padding: 96px;
        width: 100%;
      }
    }
    .know-us {
      div {
        h2 {
          font-size: 48px;
        }
      }
    }
    .contact-form {
      padding: 48px 0;
      .flex-item.heading-contact-form {
        width: 100%;
        padding: 96px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .ba-main {
    .header {
      .flex-item.text {
        h1 {
          font-size: 26px;
          span {
            font-size: 35px;
          }
        }
      }
    }
    .our-projects {
      .flex-item.heading-our-projects {
        height: 150px;
        h2 {
          font-size: 24px;
        }
      }
      .flex-item.gallery {
        .bg-item {
          padding: 12px;
        }
      }
    }
    .about-us {
      display: block;
      .flex-item.content-about-us {
        padding: 0 12px 48px;
      }
      .flex-item.heading-about-us {
        padding: 48px 12px;
        & h2 {
          font-size: 24px;
        }
        & .purple-line {
          top: 118px;
        }
      }
    }
    .our-services {
      .flex-item.heading-our-services {
        padding: 48px 12px;
        & h2 {
          font-size: 24px;
        }
      }
      .flex-item.list-our-services {
        padding: 12px;
      }
    }
    .know-us {
      height: 250px;
      div {
        h2 {
          font-size: 24px;
        }
      }
    }
    .contact-form {
      .flex-item.form {
        padding: 12px;
      }
      .flex-item.heading-contact-form {
        width: 100%;
        padding: 48px 12px;
      }
    }
  }
}
